In [ ]:
#import seaborn as sns

In [ ]:
# n = sns.load_dataset('tips')
# n

In [ ]:
# cond = n.sex == 'Male'
# cond

In [ ]:
# x= [n[total_bill] > 20.00]
# n[n.total_bill > 20.00]

In [ ]:
# n[cond]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(r'C:\Users\risze\Downloads\movies_metadata.csv').dropna(axis=1, how='all')
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
budget_df = df[df.budget > 1000000]
budget_df.shape
df2 = df

In [ ]:
budget_lookup = pd.Series(budget_df['budget'].values, index=budget_df['title'])
budget_lookup['Dead Presidents']

In [ ]:
budget_lookup[budget_lookup.index.str.startswith('A')].sort_index()[[0]]

In [ ]:
budget_lookup[budget_lookup.index.str.startswith('B')].sort_index()[[-1]]

In [ ]:
#budget_lookup_as_and_bs = [budget_lookup.index.str.startswith('A')]|[budget_lookup.index.str.startswith('B')]
budget_lookup_as_and_bs = budget_lookup.loc[budget_lookup.index.str.startswith(('A', 'B'))]
#budget_lookup_as_and_bs = budget_lookup.loc[budget_lookup[title].str.startswith(('A', 'B'))]
#budget_lookup_as_and_bs = 
# budget_lookup_as_and_bs = df['title']
budget_lookup_as_and_bs.shape

In [ ]:
import pandas as pd
df = pd.DataFrame({'a':list("pythonrocks"), 'b':[1,2,3,4,5,6,7,8,9,10,11]})
df = df.set_index('a')
df.loc['p':'n']

In [ ]:
df = df.sort_index()
df.loc['c':'o']

In [ ]:
import pandas as pd
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv").dropna(axis=1, how='all')
time_scheduler = df.set_index('runtime')
time_scheduler = time_scheduler[['title', 'release_date']]
time_scheduler.loc[7].head()

In [ ]:
import pandas as pd
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv").dropna(axis=1, how='all')

time_scheduler = df.set_index('runtime')
time_scheduler = time_scheduler[['title', 'release_date']]
time_scheduler.loc[154].shape

In [211]:
import pandas as pd
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv").dropna(axis=1, how='all')

In [212]:
df.dropna(subset=['runtime'], inplace=True)
df.set_index('runtime', inplace=True)
# df.index = df.index.map(lambda x: float(x))
df.index = df.index.astype('float64')
df.sort_index(inplace=True)

In [220]:
df[df.index > 0].iloc[154]['title']
# df.iloc[155]['title'], df.index, df.dtypes

'Kustom Kar Kommandos'

In [ ]:

# time_scheduler = df.set_index('runtime')
time_scheduler = df.sort_index()
time_scheduler = time_scheduler[['title', 'release_date']]
# time_scheduler.head()
time_scheduler.iloc[154]

In [272]:
import pandas as pd
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv").dropna(axis=1, how='all')

df_highly_voted = df[df.vote_count > 20]
df_high_rated = df_highly_voted[df_highly_voted.vote_average > 8]
df_high_rated[['title', 'vote_average', 'vote_count']].head()

                      title  vote_average  vote_count
46                    Se7en           8.1      5915.0
49       The Usual Suspects           8.1      3334.0
109             Taxi Driver           8.1      2632.0
256               Star Wars           8.1      6778.0
289  Leon: The Professional           8.2      4293.0

In [273]:
df_high_rated.shape

(178, 23)

In [274]:
my_vote = {
    "Star Wars": 9,
    "Paris is Burning": 8,
    "Dead Poets Society": 7,
    "The Empire Strikes Back": 9.5,
    "The Shining": 8,
    "Return of the Jedi": 8,
    "1941": 8,
    "Forrest Gump": 7.5,
}

In [275]:
# First, create the Series with your ratings
df_my_ratings = pd.Series(my_votes, name='my_vote')

# Then create the DataFrame with vote_average and vote_count
df_compare_votes = df_high_rated.set_index('title')[['vote_average']]#, 'vote_count'#]]

# Finally, add your ratings to the DataFrame
df_compare_votes['my_vote'] = df_my_ratings

# Now you can view the results
df_compare_votes = df_compare_votes.dropna()

In [276]:
df_compare_votes

                         vote_average  my_vote
title
Star Wars                         8.1      9.0
Forrest Gump                      8.2      7.5
Paris is Burning                  8.2      8.0
The Empire Strikes Back           8.2      9.5
Dead Poets Society                8.1      7.0
The Shining                       8.1      8.0

In [277]:
df_compare_votes['compare_votes'] = (df_compare_votes['vote_average']-df_compare_votes['my_vote'])/df_compare_votes['my_vote']
df_compare_votes

                         vote_average  my_vote  compare_votes
title
Star Wars                         8.1      9.0      -0.100000
Forrest Gump                      8.2      7.5       0.093333
Paris is Burning                  8.2      8.0       0.025000
The Empire Strikes Back           8.2      9.5      -0.136842
Dead Poets Society                8.1      7.0       0.157143
The Shining                       8.1      8.0       0.012500

In [283]:
import pandas as pd
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv").dropna(axis=1, how='all')
collection = df.set_index('belongs_to_collection')
collection = collection[collection.index.notna()]
collection.shape

(4491, 22)

In [300]:
import pandas as pd
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv").dropna(axis=1, how='all')
#df.sort_index()
release_date = df.set_index('release_date')
release_date = release_date.sort_index()
release_date = release_date[release_date.index.notna()]
release_date = release_date[['title']]
release_date.iloc[0]

title    Passage of Venus
Name: 1874-12-09, dtype: object

In [309]:
import pandas as pd
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv").dropna(axis=1, how='all')
#df.sort_index()
time_scheduler = df.set_index('runtime')
time_scheduler = time_scheduler.sort_index()
time_scheduler = time_scheduler[time_scheduler.index.notna()]
time_scheduler = time_scheduler[['title']]
#time_scheduler.iloc[154]

time_scheduler[time_scheduler.index > 0].iloc[154]

# time_scheduler = df.set_index('runtime')
# time_scheduler = df.sort_index()
# time_scheduler = time_scheduler[['title', 'release_date']]
# time_scheduler.head()
# time_scheduler.iloc[154]
# time_scheduler = df.set_index('runtime')
# time_scheduler = time_scheduler[['title', 'release_date']]
# time_scheduler.loc[154].shape

KeyError: "None of [Index(['titleruntime'], dtype='object')] are in the [columns]"

In [301]:
time_scheduler.reset_index()

       runtime                           title
0          0.0    The Diary of Preston Plummer
1          0.0          Beaver Trilogy Part IV
2          0.0                   Monsieur Taxi
3          0.0                   De Vlaschaard
4          0.0                    Gaston's War
...        ...                             ...
45188    925.0  Heimat: A Chronicle of Germany
45189    931.0           Berlin Alexanderplatz
45190   1140.0                        Baseball
45191   1140.0                            Jazz
45192   1256.0                      Centennial

[45193 rows x 2 columns]

In [306]:
df = pd.read_csv("https://runestone.academy/ns/books/published/httlads/_static/movies_metadata.csv", usecols=['title', 'runtime'], dtype).dropna(axis=1, how='all')
df

SyntaxError: positional argument follows keyword argument (4027434950.py, line 1)